@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  width: 100vw;
  height: 100vh;
  background-image: url('../images/Main_Background_Eucalyptus_Forest.jpg');
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

nav{
  width: 81vw;
  height: 100px;
  background: #FFF;
  margin-top:20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("/static/images/blood_nav_bar.jpeg");
}

h1{
  color: green;
  font-size: 80px;
  font-family: 'Alfa Slab One', cursive;
}

a, a:active{
  color: black;
  font-size: 30px;
}

.imgButtonPair{
  width: 20vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img{
  max-width: 100%;
  max-height: 100%;
  display: block;
} 

.myButton{
  font-size: 30px;
  background: black;
  color: white;
  position: bottom;
}

#bearButton{
  font-size: 30px;
  background: black;
  color: white;
  position: bottom;
}


/*ARENA SPECIFIC */

#arena{
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(transparent, white 75%), url("/static/images/colosseum.jpeg");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#fightInfo{
  width: 50vw;
  height: 50vh;
}

#enemy{
  width: 50vw;
  height: 50vh;
  border: 3px solid blue;
  display: flex;
}

#enemyInfo{
  width: 25vw;
  height: 100%;
  justify-content: left;
  display: flex;
  flex-direction: column;
}

#enemyHP{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
}

#enemyDMG{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
}

#enemyArmor{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
}

#enemySpecial{
  width: 100%;
  height: 40%;
  border: 3px solid red;
  display: flex;
  justify-content: right;
  font-size: 30px;
  align-items: center;
  text-align: right;
}

#enemyRight{
  width: 25vw;
  max-width: 25vw;
  height: 100%;
}

#enemyPic{
  width: 25vw;
  max-width: 25vw;
  height: 80%;
}

#enemyName{
  width: 25vw;
  height: 20%;
  text-align: center;
  font-size: 35px;
}

#player{
  width: 50vw;
  height: 50vh;
  border: 3px solid green;
  display: flex;
}

#playerLeft{
  width: 25vw;
  max-width: 25vw;
  height: 100%;
}

#playerPic{
  width: 25vw;
  max-width: 25vw;
  height: 80%;
}

#playerName{
  width: 25vw;
  height: 20%;
  text-align: center;
  font-size: 50px;
}

#playerInfo{
  width: 25vw;
  height: 100%;
  justify-content: left;
  display: flex;
  flex-direction: column;
}

#playerHP{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;

}

#playerDMG{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
}

#playerArmor{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  align-items: center;
}

#playerSpecial{
  width: 100%;
  height: 40%;
  border: 3px solid blue;
  display: flex;
  justify-content: left;
  font-size: 30px;
  align-items: center;
}

#actions{
  width: 50vw;
  height: 50vh;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
}

.actionSpacer{
  height: 20%;
}

#attack{
  height:20%;
  font-size: 50px;
  background: black;
  color: white;
  position: bottom;
}

#abilities{
  height:20%;
  font-size: 50px;
  background: black;
  color: white;
  position: bottom;
}

#abilitiesMenu{
  display: none;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  font-size: 100px;
  border: 3px solid yellow;
}