@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body{
  width: 100vw;
  height: 100vh;
  background: url(wexor-tmg-L-2p8fapOA8-unsplash.jpg);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* header{
  width: 100%;
  height: 300px;
  border: 3px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1{
  color: #29b930;
  font-size: 25px;
  border: 3px solid crimson;
  width: 250px;
  height: 35px;
  text-align: center;
} */

.left {
  width: 20%;
  height: 100vh;
  border: 3px solid blue;
}
.main {
  width: 80%;
  height: 100vh;
  border: 3px solid red;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

nav{
  width: 90%;
  height: 100px;
  background: #FFF;
  margin-top:20px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1{
  color: #29b930;
  font-size: 25px;
  font-family: 'Rampart One', cursive;
}

a, a:active{
  color: black
}

.mainLeft{
  width: 60%;
  height: 600px;
  border: 2px solid black
}

.mainRight{
  width: 30%;
  height: 600px;
  border: 2px solid yellow
}

#dogPic{
  width: 90%;
  height: 250px;
  border: 1px solid red;
}

#catPic{
  width: 90%;
  height: 250px;
  border: 1px solid blue;
}

button{
  font-size: 30px;
  background: #FFF;
}

img{
  max-height: 250px;
  max-width: 100%
}

/* h6{
  color: #29b930;
  font-size: 20px;
  border: 3px solid crimson;
  width: 250px;
  height: 22px;
} */
/* p{
  border: 3px solid aquamarine;
  width: 250px;
  height: 15px;
  text-align: center;
}
div{
  background: #ac4;
  width: 500px;
  height: 500px; 
} */
