<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Fight!</title>
    <link href="./static/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  </head>
  <body id = "arena">
    
    <!-- fighting info quadrant -->
    <div id = "fightInfo"></div>


    <!-- enemy quadrant -->
    <div id = "enemy">

      <div id = "enemyInfo">
        <div id = "enemyHP">HP: {{data[2][1]}}</div>
        <div id = "enemyDMG">Damage: {{data[2][2]}}</div>
        <div id = "enemyArmor">Armor: {{data[2][3]}}</div>
        <div id = "enemySpecial">SPECIAL {{data[2][4]}}</div>
      </div>

      <div id = "enemyRight">
        <div id = "enemyPic"> <img src = "{{data[3]}}"> </div>
        <div id = "enemyName">{{data[2][0]}}</div>
      </div>

    </div>
    

    <!-- player quadrant -->
    <div id = "player">

      <div id = "playerLeft">
        <div id = "playerPic"> <img src = "{{data[1]}}"></div>
        <div id = "playerName">{{data[0][0]}} </div>
      </div>

      <div id = "playerInfo">
        <div id = "playerHP">HP: {{data[0][1]}}</div>
        <div id = "playerDMG">Damage: {{data[0][2]}}</div>
        <div id = "playerArmor">Armor: {{data[0][3]}}</div>
        <div id = "playerSpecial">SPECIAL {{data[0][4]}}</div>
      </div>

    </div>
    
    <!-- actions quadrant -->
    <div id = "actions">

      <div class = "actionSpacer"></div>

      <button id = "attack"> Attack </button>

      <div class = "actionSpacer"></div>

      <button id = "abilities"> Use Abilities </button>

      <div class = "actionSpacer"></div>
    </div>
    
    <div id = "abilitiesMenu">
      abilities
    </div>

    <script src="./static/js/script.js"></script>
  </body>
</html>