<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Koala Arena</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <div class = "left">
    </div>

    <div class = "main">

      <nav>
        <h1>Cats and Dogs and Turtles API!</h1>
        <a href="www.google.com">HOME</a>
        <a href="www.google.com">ABOUT</a>
        <a href="www.google.com">PROJECTS</a>
        <a href="www.google.com">CONTACT</a>
      </nav>

      <div class = "mainLeft">
      </div>

      <div class = "mainRight">
        <div id = "dogPic">
        </div>

        <button id = "dogButton"> Get a Dog! </button>

        <div id = 'catPic'>
        </div>

        <button id = "catButton"> Get a Cat! </button>
      </div>

    </div>

    <script src="script.js"></script>
  </body>
</html>